.previsualiza-pdf {
    border: 1px solid #9ebfdd;
    padding: 40px 40px;
    -webkit-box-shadow: 4px 4px 28px -3px rgba(0,0,0,0.61);
    -moz-box-shadow: 4px 4px 28px -3px rgba(0, 0, 0, 0.61);
    box-shadow: 4px 4px 28px -3px rgba(0,0,0,0.61);
}